{% extends 'layouts/base.html' %}
{% block title %}{% if name %}{{ name }} – {% endif %}Alpha{% endblock %}

{% block extrahead %}
<style>
body {min-height: 20rem;padding-top: 55px;}
a {cursor: pointer;}
</style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
        <div class="container">
            <div class="navbar-brand p-0">
                <i class="material-icons" style="line-height: 1.6">blur_on</i>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbar">
                    <form class="form-inline" style="margin-right: 1rem;">
                        <input type="search" class="form-control form-control-sm"
                               placeholder="Buscar ...">
                    </form>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Productos</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-outline-light btn-sm dropdown-toggle"
                            type="button" data-toggle="dropdown">
                        {{ user }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container" style="margin-top: 1rem">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a>
                        </li>
                    {% endif %}
                {% empty %}
                    {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
                {% endfor %}
            </ol>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
