{% extends 'layouts/base.html' %}
{% block title %}{% if name %}{{ name }} – {% endif %}Alpha{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-auto">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
