<div class="form-group {% if bound and field.errors %}has-error{% endif %}">
    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <div class="checkbox">
            <input name="{{ field.name }}" type="{{ style.input_type }}" id="id_{{ field.name }}" class="form-control"
                   {% if field.required %}required{% endif %}
                   {% if field.value %}value="{{ field.value }}"{% endif %}/>
            <label for="id_{{ field.name }}">{{ field.label }}</label>
        </div>
    </div>
</div>
