<div class="form-group form-group-default {% if bound and field.errors %}has-error{% endif %}">
    <label for="id_{{ field.name }}">{{ field.label }}</label>
    <input name="{{ field.name }}" type="{{ style.input_type }}" id="id_{{ field.name }}" class="form-control"
           {% if field.required %}required{% endif %}
           {% if field.value %}value="{{ field.value }}"{% endif %}/>
</div>
{% if bound and field.errors %}
    <span class="error">
{% for error in field.errors %}
    {{ error }}
{% endfor %}
</span>
{% endif %}
